.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 2px solid #202020;
}

.navbar__container {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}

.navbar__item {
  padding: 1rem;
  text-decoration: none;
  color: #303030;
}
.navbar__item:hover {
  padding: 1rem;
  text-decoration: none;
  color: #303030;
}

.navbar__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  font-family: "Oswald", "sans-serif";
  font-size: 1.6rem;
}
.navbar__header__link {
  text-decoration: none;
  color: #202020;
}
