.table {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    border: none;
    border-collapse: collapse;
    text-align: right;
}

.table th {
    padding: .4rem 1.5rem;
    text-align: right;
    background-color: #eeeeee;
    cursor: pointer;
    white-space: nowrap;
}

.table td {
    padding: .3rem 1.5rem;
    white-space: nowrap;
}

.table td:first-child {
    font-weight: bold;
}

.table tr:nth-child(2n) {
    background-color: #f5f5f5;
}

.table tbody tr:hover {
    background-color: #464646;
    color: white;
    font-size: 1.2rem;
    transition: font-size 0.1s ease-in;
}

.table tbody td:hover {
    padding: .6rem 1.5rem;
    transition: padding 0.1s ease-in;
}